.input {
    all: unset;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    padding: 10px;
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
}

.button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}