.input {
    all: unset;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    padding: 10px;
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
}

.button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.buy {
        width: 90%;
        margin: 10px auto;
        background-color: var(--bg-tertiary);
        border-radius: var(--border-radius);
        color: var(--color-tertiary);
        padding: 10px 0;
    }

    &.disabled {
        opacity: .5;
        cursor: none;
    }
}