.input {
    all: unset;
    box-sizing: border-box;
    background-color: var(--bg-primary);
    padding: 10px;
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
}

.custom-input {
    position: relative;
    display: block;

    .placeholder {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-color: var(--bg-primary);
        transition: all .2s;

        &.focused {
            top: 0;
            font-size: .8rem;
        }
    }
}

.button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &.buy {
        width: 90%;
        margin: 10px auto;
        background-color: var(--bg-tertiary);
        border-radius: var(--border-radius);
        color: var(--color-secondary);
        padding: 10px 0;
    }

    &.disabled {
        opacity: .5;
        cursor: none;
    }
}

.title {
    font-weight: 500;
    margin-bottom: 40px;
}

.scroll {
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background-color: #dedede;
        -webkit-box-shadow: 0 0 1px #e2e2e2;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 3px;
    }
}