
.fade-list-enter,
.fade-list-leave-to {
    opacity: 0;
    transform: translateX(-200px);
}
.fade-list-enter-active,
.fade-list-leave-active,
.fade-list-move {
    transition: all var(--transition-duration);
}


.slide-enter,
.slide-leave-to {
    transform: translateX(100%);
    opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
    transition: all var(--transition-duration);
}
