@use 'resets';
@use 'variables';
@use 'fonts';
@use 'components';

#app {
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    position: relative;
    min-height: 100vh;
}

.content {
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: var(--bg-secondary);
    position: sticky;
    padding: 0 10px;
    top: 0;
    left: 0;
    z-index: 2;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .logo {
            color: var(--color-secondary);
            flex: 1;

            span {
                cursor: pointer;
            }
        }

        .search-input {
            position: relative;
            flex: 2;

            .input {
                padding-right: 40px;
            }

            .button {
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
            }
        }

        .actions {
            flex: 1;
            display: flex;
            justify-content: flex-end;
            gap: 0 30px;

            span {
                cursor: pointer;
            }

            .cart {
                position: relative;

                .badge {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -7px;
                    right: -7px;
                    width: 21px;
                    height: 21px;
                    background: var(--bg-quaternary);
                    border-radius: 50%;
                    font-size: 0.625rem;
                }
            }
        }
    }
}

.container {
    padding: 40px 10px;
    background-color: var(--bg-primary);
    position: relative;
}

.fixed-aside {
    background-color: var(--bg-primary);
    position: fixed;
    right: 0;
    top: var(--header-height);
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    padding: 10px;
    border: var(--border);
    z-index: 2;

    .aside-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px 0;

        h2 {
            font-weight: 500;
            width: 91%;
        }

        .close {
            cursor: pointer;
        }

        .button {
            color: var(--color-tertiary);
            border-bottom: var(--border-size) var(--border-style) #c7c3fb;
            font-size: 0.875rem;
        }
    }
}

.summary {
    .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        .final-value {
            font-weight: bold;
            font-size: 1.125rem;
        }
    }

    .buy {
        width: 100%;
        font-size: 1.125rem;
    }
}

.products {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px 60px;
}

.product-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;

    .thumbnail {
        position: relative;
        margin-bottom: 10px;

        .wishlist {
            position: absolute;
            right: 10px;
            top: 10px;
            color: var(--color-quaternary);
            z-index: 1;
            cursor: pointer;
            filter: drop-shadow(0 0 2px black);
        }

        figure {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            min-height: 200px;
            overflow: hidden;

            img {
                width: 100%;
                max-height: 280px;
                object-fit: cover;
            }

            figcaption {
                color: var(--color-secondary);
                background-color: rgba(0, 0, 0, 0.5);
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 5px 0;
                font-size: 0.875rem;
                font-weight: 500;
            }
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin: 0 10px;

        .name {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            font-size: 1rem;
            color: var(--color-primary-dark);
        }

        .row {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            .rating {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                font-weight: bold;

                .material-icons {
                    color: var(--color-primary);
                }
            }

            .genre {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.875rem;
            }
        }

        .price {
            font-size: 0.938rem;
        }
    }

    .buy {
        &.disabled {
            margin-top: auto;
        }
    }
}

.basket-products {
    flex: 1;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.basket-item {
    --img-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .thumbnail {
        position: relative;
        width: var(--img-size);
        height: var(--img-size);

        img {
            width: var(--img-size);
            height: var(--img-size);

            object-fit: cover;
        }
    }

    .name {
        max-width: 100px;
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        font-size: 0.875rem;
        color: var(--color-primary-dark);
    }
    
    .quantity {
        font-size: 0.875rem;
    }

    .price {
        font-size: 0.875rem;
    }

    .material-icons {
        cursor: pointer;
        font-size: 1rem;

        &.cart {
            color: var(--color-tertiary);
        }

        &.remove {
            color: var(--color-primary);
        }
    }
}

.checkout {
    .register {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;

        .grid-row,
        .basket-item {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr 1fr 1.25rem;
            grid-auto-flow: column;
        }

        .form {
            display: grid;
            gap: 20px;
            align-content: flex-start;

            .grid-row {
                grid-template-columns: repeat(4, 1fr);
                gap: 20px;

                .sp-col-2 {
                    grid-column: span 2;
                }

                .sp-col-3 {
                    grid-column: span 3;
                }
            }
        }

        .summary {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .basket-products {
                margin: 0;
                max-height: 50vh;
            }

            .basket-item {
                --img-size: 50px;

                .name {
                    max-width: 100%;
                }

                .quantity {
                    padding-left: 15px;
                }

                .remove {
                    font-size: 1.25rem;
                }
            }

            .info {
                .final-value {
                    font-size: 1.5rem;
                    font-weight: bold;
                }

                .buy {
                    margin-bottom: 0;
                }
            }
        }
    }

    .modal-container {
        display: grid;
        place-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        position: absolute;
        inset: 0;
        top: calc(0px - var(--header-height));
        z-index: 100;

        .modal-content {
            text-align: center;
            border-radius: var(--border-radius);
            border: var(--border);
            background-color: var(--bg-primary);
            padding: 20px;

            .buy {
                margin: 40px 0 0;
                width: 100%;
            }
        }
    }
}

@media (max-width: 812px) {
    #app {
        --header-height: 110px;
    }

    .header {
        padding: 10px 15px;

        .content {
            flex-wrap: wrap;

            .logo,
            .actions {
                width: 50%;
                flex: unset;
            }

            .search-input {
                order: 2;
            }
        }
    }

    .products {
        grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
        gap: 20px;
    }

    .product-item {
        .info {
            .row .genre {
                max-width: 65px;
            }
        }
    }

    .checkout {
        .register {
            grid-template-columns: 1fr;
            gap: 0;

            .summary-header {
                margin-top: 40px;
            }
        }
    }
}
