@use 'resets';
@use 'variables';
@use 'fonts';
@use 'components';

#app {
    display: grid;
    grid-template-rows: var(--header-height) 1fr;
    position: relative;
    min-height: 100vh;

    .content {
        max-width: var(--max-width);
        width: 100%;
        margin: 0 auto;
    }

    .header {
        background-color: var(--bg-secondary);
        position: sticky;
        padding: 0 10px;
        top: 0;
        left: 0;
        z-index: 1;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .logo {
                color: var(--color-tertiary);
                flex: 1;
            }

            .search-input {
                position: relative;
                flex: 2;

                .input {
                    padding-right: 40px;
                }

                .button {
                    position: absolute;
                    right: 10px;
                    top: 0;
                    bottom: 0;
                }
            }

            .actions {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                gap: 0 30px;

                span {
                    cursor: pointer;
                }

                .cart {
                    position: relative;

                    .badge {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        top: -7px;
                        right: -7px;
                        width: 21px;
                        height: 21px;
                        background: var(--bg-quaternary);
                        border-radius: 50%;
                        font-size: .625rem;
                    }
                }
            }
        }
    }

    .container {
        min-height: 100vh;
        background-color: var(--bg-primary);
        position: relative;

        .fixed-aside {
            position: fixed;
            right: 0;
            top: var(--header-height);
            bottom: 0;
            max-width: 300px;
            width: 100%;
            border-left: var(--border);
        }

        .products {
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 30px 60px;

            .product-item {
                text-align: center;

                .thumbnail {
                    position: relative;

                    .wishlist {
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }

                    figure {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                        min-height: 200px;
                        overflow: hidden;

                        img {
                            mix-blend-mode: unset;
                            width: 100%;
                            max-height: 280px;
                            object-fit: cover;
                        }

                        figcaption {
                            color: var(--color-tertiary);
                            background-color: rgba(0, 0, 0, .3);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            padding: 5px 0;
                        }
                    }

                }
            }
        }
    }
}
